---
import Layout from '../layouts/Layout.astro';
import GlitchImage from '../components/GlitchImage.jsx';
import GlitchText from '../components/GlitchText.astro';
import GlitchIcon from '../components/GlitchIcon.astro';
import FadeInSection from '../components/FadeInSection.jsx';
import CardCarousel from '../components/CardCarousel.jsx';
import ResponsiveVideo from '../components/ResponsiveVideo.jsx';
import { FaFacebook, FaRss, FaLinkedin, FaGithub } from 'react-icons/fa';
import { FaXTwitter } from 'react-icons/fa6';
import { PiThreadsLogo } from 'react-icons/pi';
import { SiQiita } from 'react-icons/si';
import { GiAbstract024, GiAbstract076, GiAbstract065 } from 'react-icons/gi';

const icons = [
    { href: 'https://github.com/hrism', icon: FaGithub },
    { href: 'https://qiita.com/hrism', icon: SiQiita },
    { href: 'https://hrism.hatenablog.com/', icon: FaRss },
    { href: 'https://x.com/hrism2', icon: FaXTwitter },
    { href: 'https://facebook.com/haruki.ishimaru', icon: FaFacebook },
    { href: 'https://jp.linkedin.com/in/haruki-ishimaru-178687193', icon: FaLinkedin },
];
const assetBase = import.meta.env.ASSET_BASE_URL;
const birthYear = 1989;
const birthMonth = 6;
const today = new Date();
const currentYear = today.getFullYear();
const currentMonth = today.getMonth() + 1; // JSのgetMonth()は0始まりなので+1

let age = currentYear - birthYear;
if (currentMonth < birthMonth) {
    age -= 1; // 誕生月前ならまだ加算しない
}

const birthInfo = `${age}歳, ${birthYear}年6月生まれ`;
---

<Layout>
    <section class="relative snap-start">
        <span class="absolute top-1/2 left-0 w-full bg-cyan-700 z-10 py-16 mix-blend-exclusion backdrop-blur-sm drop-shadow"></span>
        <div class="absolute top-1/2 left-0 w-full text-amber-600 text-center z-20 py-6 tracking-widest mix-blend-plus-lighter font-syncopate translate-y-1">
            <GlitchText text="HARUKI ISHIMARU" className="text-2xl md:text-5xl font-bold mb-2" mainTextClassName="text-black" centered="true" />
            <GlitchText text="A DESIGNER, WEB ENGINEER" className="text-sm" mainTextClassName="text-black" centered="true" />
        </div>
        <GlitchImage pcSrc="/img/hero3.jpg" mobileSrc="/img/hero_mobile.jpg" alt="" client:load />
    </section>
    <FadeInSection client:load className="snap-start bg-gradient-to-t from-gray-700 to-gray-950 min-h-screen">
        <div class="fade-item flex flex-col gap-8 p-8 items-center justify-center overflow-x-hidden">
            <GlitchText text="About me" className="text-5xl md:text-6xl lg:text-7xl" centered="true" />
            <div class="scale-x-[1000.0] scale-y-75">
                <GlitchText text="-" className="text-xs" centered="true" />
            </div>
            <GlitchText text="イシマル ハルキ" className="text-2xl" centered="true" />
            <GlitchText text={birthInfo} className="text-base" centered="true" />
            <ul class="flex w-full gap-4 justify-center">
                {
                    icons.map(({ href, icon: Icon }) => (
                        <li>
                            <a href={href} target="_blank" rel="noopener noreferrer" class="text-white text-2xl">
                                <GlitchIcon Icon={Icon} />
                            </a>
                        </li>
                    ))
                }
            </ul>
            <div class="scale-x-[1000.0] scale-y-75">
                <GlitchText text="-" className="text-xs" centered="true" />
            </div>
            <div class="flex items-center gap-2">
                <div class="text-white text-xl">
                    <GlitchIcon Icon={GiAbstract024} />
                </div>
                <GlitchText text="経歴" className="text-2xl" centered="true" />
                <div class="text-white text-xl">
                    <GlitchIcon Icon={GiAbstract024} />
                </div>
            </div>
            <GlitchText text="同志社大学を卒業後, 動画制作会社, 紙媒体デザイン会社, SIer, フリーランスを経た後、株式会社ストックラボのCOOとして、WEB全般および買取・販売事業を統括" className="text-lg" centered="true" />
            <div class="scale-x-[1000.0] scale-y-75">
                <GlitchText text="-" className="text-xs" centered="true" />
            </div>
            <div class="flex items-center gap-2">
                <div class="text-white text-xl">
                    <GlitchIcon Icon={GiAbstract076} />
                </div>
                <GlitchText text="専門" className="text-2xl" centered="true" />
                <div class="text-white text-xl">
                    <GlitchIcon Icon={GiAbstract076} />
                </div>
            </div>
            <GlitchText text="フルスタック開発, UX/UIデザイン・改善, ユーザビリティ調査, サーバーレスWebサービス構築, 静的サイト構築, 動画制作, 組織開発, Pythonによる業務自動化, 情報設計, SEO最適化, 技術系記事の翻訳・紹介" className="text-lg" centered="true" />
        </div>
    </FadeInSection>
    {/* Works */}
    <section class="snap-start py-8 bg-white flex flex-col gap-8 h-screen items-center snap-start overflow-y-scroll w-full overflow-x-hidden relative">
        <div class="absolute top-4 bg-black pt-2 px-6 z-10 mix-blend-exclusion">
            <GlitchText text="Works" className="text-5xl md:text-6xl lg:text-7xl" centered="true" />
        </div>
        <div class="w-full z-10 h-screen pt-32">
            <CardCarousel client:load />
        </div>
        <div class="w-full absolute top-0" style="filter: brightness(25%)">
            <ResponsiveVideo src="/mov/AdobeStock_294764508.mp4" client:load/>
        </div>
    </section>
    {/* <FadeInSection client:load className="snap-start bg-gradient-to-t from-gray-700 to-gray-950 min-h-screen flex flex-col items-center justify-center">
        <form action="https://api.staticforms.xyz/submit" method="POST" class="max-w-md mx-auto space-y-6 p-6 bg-white shadow-md rounded fade-item w-3/4">
            <!-- 必須: Static FormsのAPIキー -->
            <input type="hidden" name="apiKey" value="sf_del5cdeia0mlj0gjh611a3j5" />

            <!-- 必須: replyToを有効にする -->
            <input type="hidden" name="replyTo" value="@" />

            <!-- 任意: 送信成功後のリダイレクト先 -->
            <input type="hidden" name="redirectTo" value="/thanks" />

            <!-- スパム対策: honeypot -->
            <input type="text" name="honeypot" style="display: none" tabindex="-1" autocomplete="off" />

            <!-- お名前 -->
            <div>
                <label for="name" class="block text-sm font-medium text-gray-700">お名前</label>
                <input type="text" name="name" id="name" required class="border p-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500" />
            </div>

            <!-- メールアドレス -->
            <div>
                <label for="email" class="block text-sm font-medium text-gray-700">メールアドレス</label>
                <input type="email" name="email" id="email" required class="border p-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500" />
            </div>

            <!-- メッセージ -->
            <div>
                <label for="message" class="block text-sm font-medium text-gray-700">メッセージ</label>
                <textarea name="message" id="message" rows="5" required class="border p-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"></textarea>
            </div>

            <!-- ✅ reCAPTCHA表示 -->
            <div class="g-recaptcha" data-sitekey="6LdQpQArAAAAAEeX0eXwXtOx4bMSIueuAF4ueHkd"></div>
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>

            <button type="submit" class="w-full bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition">送信</button>
        </form>
    </FadeInSection> */}
</Layout>
